:root {
  --color-tx: white;
  --color-header: white;

  --white: white;
  --lighter-gray: #00000045;
  --light-gray: #00000042;
  --color-kbd: gray;

  --bg-selection: #a6ffa178;
  --bg-codeB: #eaeaea7a;

  --lighter-blue: #a2faff;
  --light-blue: #4abcff;
  --dark-blue: #000019;

  --link: #77cdff;

  --light-yellow: #fff78e;

  --bg: #404040;
}
