//color palette
:root {
  --color-text: #242424;
  --color-background: #ffffff;
  --color-accent: #0180d5;
  --color-selection: #c8c8c8;

  --color-link: var(--color-accent);
  --color-header: var(--color-accent);

  --color-nav-text: var(--color-background);

  --color-code-text: #836C28;
  --color-code-background: #f9f9f9;
  --color-code-border: #E5E5E5;

  --color_keybord-text: var(--color-text);
  --color_keybord-border: #00000042;

  --color_blockquote-left-border: var(--color-accent);

  --color_table-border: var(--color-text);

  --color-card-date-background: #3d3d3d8c;

  --color-tag-text: var(--color-background);
  --color-tag-background: var(--color-accent);

  --color-embeded-card-text: var(--color-text);
  --color-embeded-card-time: var(--color-accent);
  --color-embeded-card-summary-text: var(--color-text);
  --color-embeded-card-background: var(--color-code-background);
  --color-embeded-card-border: var(--color-code-border);
  --color-embeded-card-background-mobile: var(--color-code-background);


  --color_button-border: hsl(204, 99%, 75%); //not sure where this is
  --theme_tagN: hsl(204, 99%, 75%); //not sure where this is

  // old color palatte - need to clear out
  --theme_avatar-img-border: var(--color-17); //@byline.scss

  --theme_special-button-text: var(--color-01); //@shortcode_button.scss
  --theme_special-button-background: var(--color-11); //@shortcode_button.scss
  --theme_special-button-divider: var(--color-12); //@shortcode_button.scss

  
  --theme_navbar-background: var(--color-044);
  --theme_navbar-default-text: var(--color-01);
  --theme_navbar-hover-active: var(--color-04);

  --theme_hambuger-icon: var(--color-01);

  --theme_byline_link: var(--color-01);

  --color-01: #242424;
  --color-15: #cacaca;
  --color-02: #ffffff; //site background
  --color-07: #3d3d3d8c;
  --color-13: #353535;
  --color-17: #363636c2;
  --color-16: #313131;
  --color-03: #00000042;
  --color-09: #000000;
  
  --color-08: #3d3935;
  --color-10: #ffe16b;

  --color-04: hsl(204, 99%, 75%); // navbar border
  --color-044: hsl(204, 99%, 42%); //googoraa navbar logo fill
  --color-12: #6e99bd;
  --color-14: #41aaff;
  --color-05: hsl(204, 99%, 50%);
  --color-11: #0068df;
  --color-06: #404040;
  --color-066: #1e1e1e; //navbar & footer background
}

