.cards {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 366px));
  grid-gap: 36px;
}

.card {
  grid-column-end: span 1;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 0.3s ease 0s;
}

section ~ section {
  margin-top: 0px;
}

.card:hover {
  transform: translateY(-7px);
}

.card .card_link {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img_container {
  width: 100%;
  padding-top: 66.66%;
  overflow: hidden;
  position: relative;
}

.img_container img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img_container .date {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
}
.img_container .date div {
  margin-top: auto;
  background-color: var(--theme_card-date-background);

  text-align: center;
}

.card_contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px 0px 10px;
  text-align: center;
}

.card_title {
  font-size: 23px;
  margin-top: 5px;
}

.card_tag {
  font-family: var(--font-tag);
}

.card_tag a {
  font-size: 15px;
  padding: 3px 10px;
  border-radius: 4px;
}

.card_tag a:link,
.card_tag a:visited {
  background: var(--theme_tag-background);
  color: var(--theme_tag-default-text);
  opacity: 1;
}

.card_tag a:hover,
.card_tag a:active {
  text-decoration: none;
  color: var(--theme_tag-hover);
}

@media screen and (max-width: 834px) {
  .card {
    grid-column-end: span 2;
  }

  .img_container {
    padding-top: 30%;
  }
}

@media screen and (max-width: 400px) {
  .card {
    grid-column-end: span 2;
  }

  .img_container {
    padding-top: 66.66%;
  }

  .card_title {
    font-size: 1.2rem;
    margin-top: 5px;
  }
}

//  section_header
.section_header {
  border-bottom: 1px solid var(--theme_section-divider-line);
  text-align: center;
  margin: 0px 0px 36px 0px;
  padding-bottom: 10px;
}

.section_header svg {
  width: auto;
  height: 32px;
  vertical-align: -17%;
  margin-right: 10px;

  fill: currentColor;
}

.more_articles {
  text-align: center;
  margin-top: 18px;
}

.tagN {
  color: var(--theme_tagN);
}

.tagN svg {
  width: auto;
  height: 23px;
  vertical-align: -10%;
  margin-left: 10px;

  fill: currentColor;
}
