aside.botton_container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

aside.botton_container .button {
    background-color: var(--color-special-button-background);
    border-radius: 2px;
    cursor: pointer;
    display: block;
    text-decoration: none;
    border: none;
    padding: 3px 15px;
}

aside.botton_container .button:hover {
    opacity: 0.9;
}

aside.botton_container .icon {
    padding-right: 4px;
}

aside.botton_container .icon svg {
    vertical-align: -2.5px;
    height: 20px;
    width: auto;
}

aside.botton_container .text {
    color: var(--color-special-button-text);
}
