.supportGoogoraa {
    text-align: center;
    margin-top: 40px;
}

.supportGoogoraa svg {
    width: 200px;
    height: auto;
    border: 2px solid var(--theme_buy-me-coffee-border);
    border-radius: 7px;
    padding: 2px 10px;
    background-color: var(--theme_buy-me-coffee-background);
    transition: all 0.3s ease 0s;
}

.supportGoogoraa svg:hover {
    transform: translateY(-7px);
}