.tagNshare {
  display: flex;
  align-items: center;
}

.tagNshare .tag-container {
  margin: 35px 0px;
  font-family: var(--font-tag);
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
}

.tag-container.tag-container--card {
  justify-content: center;
  z-index: 10;
  padding: 0.5em 0em;
}

.tag-container .tag {
  flex-shrink: 0;
  font-size: 15px;
  padding: 0em 0.7em;
  border-radius: 0.3em;

  --tag-background-color-hue: 48;
  --tag-background-color-saturation: 100%;
  --tag-background-color-lightness: 70%;
  --tag-background-color: hsl(
    var(--tag-background-color-hue),
    var(--tag-background-color-saturation),
    var(--tag-background-color-lightness)
  );
}

.tag-container .tag:link,
.tag-container .tag:visited {
  background: var(--tag-background-color);
  color: #3d3935;
  opacity: 1;
}

.tag-container .tag:hover,
.tag-container .tag:active {
  text-decoration: none;
  color: black;
}

.tag-container .tag::before {
  content: "#";

  color: hsl(
    var(--tag-background-color-hue),
    calc(var(--tag-background-color-saturation) - 10%),
    calc(var(--tag-background-color-lightness) - 40%)
  );
}

.tagNshare .share {
  font-size: 1rem;
  text-align: right;
  margin-left: auto;

  display: flex;
  align-items: center;
}

.share .facebook svg,
.share .telegram svg,
.share .twitter svg {
  width: 1.6rem;
  height: auto;
  margin: 6px 0px 0px 9px;
  fill: #9be7ff;
  cursor: pointer;
}

.share .facebook svg:hover,
.share .telegram svg:hover,
.share .twitter svg:hover {
  fill: var(--color-04);
}

article .share {
  display: none;
}

.share a:link,
.share a:visited,
.share a:hover,
.share a:active {
  text-decoration: none;
}

@media screen and (max-width: 834px) {
  .tagNshare .share {
    display: none;
  }

  article .share {
    display: block;
  }

  .share .facebook svg,
  .share .telegram svg,
  .share .twitter svg {
    width: 2rem;
  }
}
