{{ define "main" }}

<section>
  <h2 class="section_header">
    {{if eq .Title "LINUX"}}
    {{ partial "svg/linux_icon.svg" }} 
    {{else if eq .Title "Programming"}}
    {{ partial "svg/programming.svg" }} 
    {{else if eq .Title "ពីនេះ​ពី​នោះ​"}}
    {{ partial "svg/other_topic.svg" }} 
    {{else}}
    {{ partial "svg/tag1.svg" }} 
    {{end}}
    
    {{.Title}}</h2>
  <div class="cards">
    {{ range .Paginator.Pages }}
    <div class="card">
      <div class="img_container">
        
        <img src="{{ .Site.BaseURL }}/{{ .Params.f_image }}" alt='Feature image for "{{ .Title }}" article.'>
        <div class="date">
          <div><time datetime='{{ dateFormat "Monday, 2 January 2006" .Date }}'>{{ dateFormat "Monday, 2 January 2006" .Date }}</time></div>
        </div>
      </div>
      <div class="card_contain">
        <div class="card_tag">
          {{ range (.GetTerms "tags") }}
          <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
          {{ end }}
        </div>

        <div class="card_title">{{ .Title }}</div>
      </div>
      <a href="{{ .Page.Permalink }}" class="card_link"></a>
    </div>
    {{ end }}
  </div>
  {{ partial "pagination.html" . }}
</section>

{{ end }}
