<div class="contact">
  <h2 style="margin: 30px 0px 5px 0px;">Contact</h2>

  <div style="display: flex;">
    <div>
      <div>Facebook Page:</div>
      <div>Email:</div>
    </div>
    <div style="margin-left: 20px;">
      <div>
        <b
          ><a href="https://www.facebook.com/Googoraa/" target="_blank"
            >https://www.facebook.com/Googoraa/</a
          ></b
        >
      </div>
      <div>
        <b
          ><a href="mailto:dimorng.meung@gmail.com"
            >dimorng.meung@gmail.com</a
          ></b
        >
      </div>
    </div>
  </div>
</div>

<div class="mo_contact">
  <h2 style="margin: 30px 0px 15px 0px;">Contact</h2>
  <div style="margin-bottom: 15px;">
    Facebook Page:<br />
    <b
      ><a href="https://www.facebook.com/Googoraa/" target="_blank"
        >https://www.facebook.com/Googoraa/</a
      ></b
    >
  </div>
  <div>
    Email:<br />
    <b><a href="mailto:dimorng.meung@gmail.com">dimorng.meung@gmail.com</a></b>
  </div>
</div>
