<footer>
  <div class="container">
    <div class="footMenu">
      <a href="{{ .Site.BaseURL }}" class='{{ if .IsHome }}active{{ end }}'>Home</a>
      {{ partial "main_nav.html" . }}
    </div>
    <!--
    <div class="fb_pageNcredit">
      {{ partial "fb_frame.html" . }}
      <div class="credit">
        <span>💚 Share with Love 💚</span>
        <span>{{ .Site.Title }} ©️ {{ dateFormat "2006" .Date }}</span>
      </div>
    </div>
    -->

    <!--testing to add social media icon on footer-->
    <!-- <div class="socialMediaLogo">
      <span><a href="https://www.youtube.com/channel/UClM6t3vsHecNppWu96yMlMQ" target="_blank" title="Visit Googoraa Linux channel 🚀">{{ partial "svg/youtube-ft-logo.svg" . }}</a></span>
      <span><a href="https://www.facebook.com/Googoraa" target="_blank" title="Visit Googoraa Linux Facebook page 🚀">{{ partial "svg/facebook-ft-logo.svg" . }}</a></span>
      <span><a href="mailto:dimorng.meung@gmail.com" title="Contact us via Email 🚀">{{ partial "svg/mail-ft-logo.svg" . }}</a></span>
    </div> -->
    <div class="credit">
      <span>2023 @ Dr. Dimorng Meung (DDS)</span>
    </div>
    <!-- End testing section-->
  </div>
</footer>

