<header>
    <nav>
        <botton class="logo menu" id="js-navbar-toggle">{{ partial "svg/hamburger_icon.svg" . }}</botton>
        <a class="logo" href="{{ .Site.BaseURL }}">{{ partial "svg/googoraa_icon.svg" . }}</a>
        <a class="mo_logo logo" href="{{ .Site.BaseURL }}">GOOGORAA</a>
        <a class="logo fb_nav" id="js-navbar-toggle" href="https://www.facebook.com/GoogoraaLinux/" target="_blank" title="Check Our Official Facebook Page 🚀">{{ partial "svg/facebook.svg" . }}</a>
    
        {{ partial "main_nav.html" . }}
    </nav>
</header>