<div class="share">
    <span>ចែក​រំលែក ៖</span>
    <div class="sm_icon">
      <span class="facebook" title="share to facebook 🚀">
        <a href="https://www.facebook.com/sharer/sharer.php?u=#url" target="_blank">{{ partial "svg/socialMedia/facebook.svg" . }}</a>
      </span>
      <span class="telegram" title="share to telegram 🚀">
        <a href="https://t.me/share/url?url={{ .Permalink }}&text={{ .Title }}">{{ partial "svg/socialMedia/telegram.svg" . }}</a>
      </span>
      <span class="twitter" title="share to twitter 🚀">
        <a href="https://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title }}" target="_blank">{{ partial "svg/socialMedia/twitter.svg" . }}</a>
      </span>
    </div>
</div>